In [1]:
import pandas
import requests
from bs4 import BeautifulSoup

In [5]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 14_1) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.1 Safari/605.1.15'}

# We pass these headers as headers in order to show that they are coming from a browsert
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=1', headers=headers).text

In [6]:
soup = BeautifulSoup(webpage, 'lxml')

In [10]:
for i in soup.find_all('h2'):
    print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
HDFC Bank
ICICI Bank
Infosys
Capgemini
HCLTech
Tech Mahindra
Genpact
Axis Bank
Concentrix Corporation
Amazon
Teleperformance
Reliance Jio
IBM
Larsen & Toubro Limited
Reliance Retail
HDB Financial Services
Companies by  Industry
Companies by  Locations
Companies by  Type
Companies by  Badges

In [28]:
comapanies = soup.find_all('div', class_='companyCardWrapper')

In [49]:
ratings = []
name = []
no_of_reviews = []
for company in comapanies:
    name.append(company.find('h2', class_='companyCardWrapper__companyName').text.strip())
    ratings.append(company.find('span', class_='companyCardWrapper__companyRatingValue').text.strip())
    no_of_reviews.append(company.find('div', class_='companyCardWrapper__tertiaryInformation')
                         .find('a', class_='companyCardWrapper__ActionWrapper')
                         .find('span', class_='companyCardWrapper__ActionCount').text.strip())

In [56]:
for i in range(len(name)):
    print(name[i], ratings[i], no_of_reviews[i])

TCS 3.8 70.4k
Accenture 4.0 44.6k
Cognizant 3.9 40.1k
Wipro 3.8 37.6k
HDFC Bank 3.9 32.4k
ICICI Bank 4.0 32.2k
Infosys 3.8 30.5k
Capgemini 3.8 28.4k
HCLTech 3.7 27.2k
Tech Mahindra 3.7 26.5k
Genpact 3.9 25.2k
Axis Bank 3.8 21.1k
Concentrix Corporation 3.9 20.9k
Amazon 4.1 20k
Teleperformance 3.6 19.9k
Reliance Jio 3.9 19.5k
IBM 4.1 19.1k
Larsen & Toubro Limited 4.0 18k
Reliance Retail 3.9 17.8k
HDB Financial Services 4.0 17.3k

In [53]:
import pandas as pd
d = {
    'name': name,
    'ratings': ratings,
    'review_count': no_of_reviews
}
df = pd.DataFrame(d)

In [54]:
df

                       name ratings review_count
0                       TCS     3.8        70.4k
1                 Accenture     4.0        44.6k
2                 Cognizant     3.9        40.1k
3                     Wipro     3.8        37.6k
4                 HDFC Bank     3.9        32.4k
5                ICICI Bank     4.0        32.2k
6                   Infosys     3.8        30.5k
7                 Capgemini     3.8        28.4k
8                   HCLTech     3.7        27.2k
9             Tech Mahindra     3.7        26.5k
10                  Genpact     3.9        25.2k
11                Axis Bank     3.8        21.1k
12   Concentrix Corporation     3.9        20.9k
13                   Amazon     4.1          20k
14          Teleperformance     3.6        19.9k
15             Reliance Jio     3.9        19.5k
16                      IBM     4.1        19.1k
17  Larsen & Toubro Limited     4.0          18k
18          Reliance Retail     3.9        17.8k
19   HDB Financial Services     4.0        17.3k