In [4]:
import numpy as np
import pandas as pd

In [7]:
 df = pd.read_csv('datasets/placement-2.csv')

In [8]:
df.head()

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0

# Steps
<ol>
    <li><h4>Preprocess + EDA + Feature Selection:</h4></li>
    <li><h4>Extract input and output columns</h4></li>
    <li><h4>Scale the values</h4></li>
    <li><h4>Train test split</h4></li>
    <li><h4>Train the model</h4></li>
    <li><h4>Evaluate the model/model selection</h4></li>
    <li><h4>Deploy the model</h4></li>
</ol>